.game {
  max-width: 36rem;
  margin: 0 auto;
  padding: 0 1rem;
  h1 {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  button {
    font-size: 1rem;
    background-color: none;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: .5rem;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1rem;
    &:hover {
      background-color: #c23888;
      color: white;
    }
  }
}

.cardBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.result {
  text-align: center;
}