.card {
  position: relative;
  cursor: pointer;
  img {
    display: block;
    width: 100%;
    border: 1px solid white;
    border-radius: .5rem;
    transition: all ease-in-out 0.2s;
  }
  .front {
    position: absolute;
    transform: rotateY(90deg);
  }

  .back {

  }

  .flipped {
    .front {
      transform: rotateY(0deg);
    }
    .back {
      transform: rotateY(90deg);
    }
  }
}